
#nav {
    width:40%;
    float:left;
    padding:5px;
}
#display {
    width:600px;
    float:left;
    padding:10px;
}

.text-area {
    display: block;
    width: 1000px;
    height: 700px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #e5e5e5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
